<%if(isLoggedIn){%>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Resume</th>
            </tr>
        </thead>
        <tbody>
            <%if(candidates.length>0){%>
                <% candidates.forEach((applier)=>{%>
                    <%if(applier.id===jobId){%>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <%=applier.name%>
                            </td>
                            <td>
                                <%=applier.email%>
                            </td>
                            <td> <a href="/images/<%=applier.resume.filename%>" target="_blank">
                                    <button>View Resume</button>
                                </a></td>
                        </tr>
                        <%}%>
                            <%})%>
                                <%}%>
        </tbody>
    </table>

    <%} else {%>
        <center>
            <h1>you need to be recruiter to view this page</h1>
        </center>
        <%}%>